html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.color-blue {
    color: #5981aa !important;
}

.color-orange {
    color: #ff7405 !important;
}

.color-green {
    color: #6faa35 !important;
}

#list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#list-wrapper > ul.pagination {
    flex: 1 0 100%;
}

#list-wrapper > div {
    flex: 0 33.3333%;
    box-sizing: border-box;
    padding: 10px;
}

@media (max-width: 992px) {
    #list-wrapper > div {
        flex: 0 50%;
    }
}

@media (max-width:767px) {
    #list-wrapper > div {
        flex: 0 100%;
    }
}

.panel {
    margin-bottom: 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    position: relative;
    padding: 20px;
}

.panel-body:after, .panel-body:before {
    content: ' ';
    display: table;
}

.panel-flat>.panel-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.panel-flat>.panel-heading+.panel-body {
    padding-top: 0;
}

.panel-heading {
    position: relative;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading {
    padding: 15px 20px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-footer-condensed {
    padding-top: 2px;
    padding-bottom: 2px;
}

.panel .book-author {
    padding: 0 0 10px;
}

.panel-footer {
    position: relative;
    padding: 7px 20px;
    background-color: #fcfcfc;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-footer>.heading-elements {
    position: static;
    margin-top: 0;
    padding-right: 2px;
}

.panel-footer>.heading-elements:after {
    content: '';
    display: table;
    clear: both;
}

.heading-elements {
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 20px;
    height: 36px;
    margin-top: -18px;
}

.heading-elements:not(.visible-elements) .heading-text {
    margin-top: 8px;
    display: inline-block;
    font-size: 12px;
}

.heading-elements:not(.visible-elements) .heading-text+.heading-text {
    margin-left: 10px;
    font-size: 10px;
}

h6, .h6 {
    font-size: 15px;
    letter-spacing: -.015em;
    line-height: 1.5384616;
}

.label {
    display: inline-block;
    font-weight: 500;
    padding: 2px 5px 1px 5px;
    line-height: 1.5384616;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .1px;
    border-radius: 2px;
}

.label-warning {
    background: #ff7405;
}

a:focus, a:hover {
    color: #3a93dd;
    text-decoration: none;
}

.no-margin-top {
    margin-top: 0!important;
}

.no-margin-bottom {
    margin-bottom: 0!important;
}

.no-margin {
    margin: 0!important;
}

.no-padding {
    padding: 0!important;
}

.no-padding-top {
    padding-top: 0!important;
}

.no-padding-bottom {
    padding-bottom: 0!important;
}

.mt-15 {
    margin-top: 15px;
}

.text-semibold {
    font-weight: 500;
}

.semi-lead {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.3;
}

